@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=JetBrains+Mono:wght@800&display=swap");

:root {
  --fs-info: min(4vmin, 1.25rem);
  --fs-instructions: min(6vmin, 2rem);
  --fs-bpm: min(36vmin, 14rem);

  --color-text: #222;
  --color-bg: #fff;
  --color-bg-hover: #eee;

  --fade-length: 250ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::selection {
  color: var(--color-bg);
  background: var(--color-text);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: calc(0.5rem + 4vh);
}

body > p,
body > h1 {
  font-weight: 400;
  font-size: var(--fs-info);
  animation: fade-in var(--fade-length) ease-in-out forwards;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > * {
  animation: fade-in var(--fade-length) ease-in-out forwards;
}

#instructions {
  margin-bottom: 4rem;
  text-align: center;
  font-size: var(--fs-instructions);
}

#bpm {
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;
  font-size: var(--fs-bpm);
  font-weight: bold;
  transition: filter 10ms;
  line-height: 1;
}

#reset {
  border: 1px solid var(--color-text);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-block: min(4rem, 4vh);
  box-shadow: none;
  font-size: var(--fs-instructions);
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: background-color var(--fade-length), letter-spacing var(--fade-length);
}

#reset:hover,
#reset:focus {
  background-color: var(--color-bg-hover);
  letter-spacing: 1px;
}

.author {
  text-decoration: none;
  color: var(--color-text);
  transition: opacity calc(var(--fade-length) * 0.5);
}

.author:hover,
.author:focus {
  opacity: 0.6;
}
